.about-header {
    text-align: center;
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 80px;
}

.about-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 500px;
    color: aliceblue;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.back-arrow {
    font-size: 15px;
    cursor: pointer;
    color: aliceblue;
    text-decoration: none;
    margin: 20px;
}

.circle-2 {
    border: rgb(192, 201, 255) solid 2px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: rgb(193, 192, 255);
    z-index: 10;
    float: left;
    box-shadow: 0 0 10px 10px  rgba(0, 140, 255, 0.5);
}

.rectangle-2 {
    text-align: center;
    height: 400px;
    width: 890px;
    background-image: linear-gradient(60deg, rgb(28, 48, 161), rgb(83, 109, 255), rgb(36, 138, 255));
    border: 2px solid rgb(25, 0, 255);
    border-radius: 10px 150px 10px 150px;
    box-shadow: 10px 10px 0 0 rgba(0, 195, 255, 0.5);
    top: 0;
    left: 0;
    float: right
}   

.jayam-pic {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: -10;
}

.prashant-pic {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: -10;
}

.dev-2 {
    display: flex;
}

section {
    margin: 50px
}

.circle-3 {
    border: rgb(0, 255, 0) solid 2px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: rgb(0, 250, 62);
    z-index: 10;
    float: left;
    box-shadow: 0 0 10px 10px  rgba(35, 250, 89, 0.589);
}

.rectangle-3 {
    height: 400px;
    width: 890px;
    background-image: linear-gradient(60deg, rgb(0, 163, 22), rgb(60, 255, 0), rgb(9, 255, 71));
    border: 2px solid rgb(0, 119, 0);
    border-radius: 10px 150px 10px 150px ;
    box-shadow: 10px 10px 0 0 rgba(0, 255, 0, 0.5) ;
    top: 0;
    left: 0;
    float: right;
    text-align: center;
}

